body {
  background-color: #ffffff;
  color: #000000;
}

h2, h3, h4 {
  color: #f75f5f;
}

img.rounded-circle {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
#perfil{
  text-shadow: 2px 2px 4px rgba(67, 29, 207, 0.432);
}
#color{
  color: rgb(255, 9, 9);
}
footer a {
  transition: color 0.3s ease;
}

footer a:hover {
  color: #7c52ac !important;
}

